---
---

@import "reset";
@import "variables";

@media only screen and (min-width: 480px) {

  #proficiency ul {
    width: 33.333%;
  }

}

@media only screen and (min-width: 768px) {

  aside {
    float: left;
    width: 15%;
    color: $darkerGray;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 15px;
  }
  
  article {
    float:right;
    width: 85%;
    margin-bottom:10px;
  }
  
}
