
//
// VARIABLES
//

// imports
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans|Roboto');

// Colors
$blue: #4183C4;
$atlanticBlue: #00B5BA;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$droid: 'Droid Sans', 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
